@charset "UTF-8";
/* Main CSS Document */

/* Base Styles */
* {
	font: normal 12px/14px Helvetica,Arial,sans-serif;
}

h1 {
	font: bold 32px/36px "Times New Roman",serif;
	color: #f00;
}

h2 {
	font: bold 16px/20px "Times New Roman",serif;
}

h3 {
	font: bold 14px/16px "Times New Roman",serif;
}

a:link {
    color: #0f0;
}

img {
    border: 5px dashed red;
}

a img {
    border: 15px outset #0f0;
}

/* layout */
header {
	display: block;
	width: 100%;
	float: left;

	border-bottom: #000 solid 2px;
	margin-bottom: 30px;
}

header img {
	width: 75px;
	height: 75px;
	border: 0;
}

section, article {
	display: block;
	width: 400px;
	float: left;
}

footer {
	display: block;
	width: 100%;
	float: left;

	border-top: #000 solid 2px;
	margin-top: 30px;
}

/* Responsive Styles */
/* styles for tablets: */
@media only screen and (min-width: 600px) {
	h1 { font-size: 26px; line-height: 30px; color: orange; }
}

/* styles for desktops: */
@media only screen and (min-width: 768px) {
	h1 { font-size: 22px; line-height: 26px; color: green; }
}
